header {
    text-align: center;
    color: indigo;
}

header .hero-spacer {
    background: url(../img/header-bg.jpg) no-repeat scroll center center;
    height: 350px;
    background-size: 90% auto;
}

header .intro-text {
    padding-top: 150px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 0;
    padding-bottom: 0;
}

header .intro-text .intro-heading {
    text-transform: unset;
}

header .intro-text .intro-lead-in {
    margin-top: 0;
}

@media(min-width:992px) {
    aside.sponsors img {
        margin: 50px auto;
    }
}

section.sponsors img {
    margin-top: 50px;
}

section.sponsors .heading {
    margin-bottom: 0;
}

section.sponsors div.contents {
    padding-top: 30px;
}

section#contact {
    color: #FFFFFF;
}

section#contact h3 {
    color: #FFFFFF;
    font-size: 22px;
}

.contact-contents {
    font-size: 18px;
    color: #FFFFFF;
}

span.copyright {
    display: inline-block;
    text-align: left;
}

.img-speaker-preview {
    width: 170px;
    text-align: center;
    display: inline;
}

.img-speaker {
    border-radius: 50%;
}

.speakers-caption {
    text-align: center;
}

.speakers-image-container {
    text-align: center;
}

a {
    color: indigo;
    font-weight: bold;
}

.btn-medium {
    font-size: 16px;
    padding: 10px 20px;
}

.venue-contents {
    margin-top: 20px;
}

.btn-hero-left,
.btn-hero-right {
    margin-top: 5px;
}

section#speakers .social-buttons {
    text-align: center;
}

header .intro-text .intro-heading {
    font-size: 50px;
}
