a {
    color: indigo;
    font-weight: bold;
}

.rl {
    float: right;
}

.modal-body {
    text-align: center;
}
.modal-open .modal {
    top: 10%;
    z-index: 1050;
}
.modal {
    z-index: 0;
}

.btn-medium {
    font-size: 16px;
    padding: 10px 20px;
}

.navbar-brand>img, .navbar-brand>div {
    display: inline-block;
}
.navbar-brand>div {
    padding-left: 15px;
}
.navbar-default .nav li a {
    color: #000000;
}
.navbar-default.navbar .nav li a:hover, .navbar-default .nav li a:focus {
    color: #fec900
}
.navbar-default.navbar-shrink .nav li a {
    color: #FFFFFF;
}
.navbar-default.navbar-shrink .nav li a:hover, .navbar-default.navbar-shrink .nav li a:focus {
    color: #fed136
}
.nav>li>a {
  padding: 10px 11px;
}

header {
    text-align: center;
    color: indigo;
}
header .hero-spacer img {
    width: 100%;
    margin: 20px auto;
}
header .intro-text {
    padding-top: 150px;
}
header .intro-text .intro-lead-in {
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
header .intro-text .intro-heading {
    text-transform: unset;
    font-size: 35px;
}

.btn-hero-left,
.btn-hero-right {
    margin-top: 5px;
}

@media(min-width:992px) {
    aside.sponsors img {
        margin: 50px auto;
    }
}

section.sponsors img {
    margin-top: 50px;
}
section.sponsors .heading {
    margin-bottom: 0;
}
section.sponsors div.contents {
    padding-top: 30px;
}

section#contact {
    color: #FFFFFF;
}
section#contact h3 {
    color: #FFFFFF;
    font-size: 22px;
}
.contact-contents {
    font-size: 18px;
    color: #FFFFFF;
}

span.copyright {
    display: inline-block;
    text-align: left;
}

section#speakers .social-buttons {
    text-align: center;
}
.img-speaker {
    border-radius: 50%;
}
.img-speaker-preview {
    width: 170px;
    text-align: center;
    display: inline;
}
.speakers-caption {
    text-align: center;
}
.speakers-image-container {
    text-align: center;
}
.speakers-modal {
    margin: auto;
    width: 100%;
    max-width: 960px;
    text-align: center;
    display: none;
}
.speakers-item {
    margin-bottom: 25px;
}
.speakers-container {
    display: none;
}

section#workshops .social-buttons {
    text-align: center;
}
.trainers-caption h3 {
    text-transform: unset;
    vertical-align: center;
    height: 80px;
}
.trainers-caption h4 {
    text-transform: unset;
    height: 40px;
}
.img-trainer {
    border-radius: 50%;
}
.img-trainer-preview {
    width: 170px;
    text-align: center;
    display: inline;
}
.trainers-caption {
    text-align: center;
}
.trainers-image-container {
    text-align: center;
}
.trainers-modal {
    float: unset;
}
.trainers-item {
    height: 390px;
    margin-bottom: 25px;
}
.img-trainer-modal {
    display: unset;
}

.venue-contents {
    margin-top: 20px;
}

.img-speaker-modal {
    width: 225px;
    text-align: center;
    display: inline;
}

.workshop-details {
    text-align: left;
    margin-bottom: 40px;
}
.workshops-container {
    display: none;
}

.coc-contact li {
    list-style-position: inside;
}
