{{ "<!-- Hero -->" | safeHTML }}
<header>
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">{{ with .Site.Params.hero.title }}{{ . | markdownify }}{{ end }}</div>
      <!--div class="hero-spacer">
          <img src="../img/header-bg.jpg">
      </div-->
      <div class="intro-heading">{{ with .Site.Params.hero.subtitle }}{{ . | markdownify }}{{ end }}</div>
      {{ if .Site.Params.hero.buttonLeftText }}
          <a href="https://www.eventbrite.com/e/gophercon-iceland-tickets-45476816382?ref=ebtn" target="_blank"><img src="https://www.eventbrite.com/custombutton?eid=45476816382" alt="Eventbrite - GopherCon Iceland" /></a>
      {{ end }}
      {{ if .Site.Params.hero.buttonRightText }}
      <a href="{{ .Site.Params.hero.buttonRightLink }}" class="page-scroll btn btn-xl btn-hero-right">{{ .Site.Params.hero.buttonRightText }}</a>
      {{ end }}
    </div>
  </div>
</header>
