{{ "<!-- Speakers Modals -->" | safeHTML }}
{{ range .Site.Data.speakers }}
    {{ if ne .img "" }}
<div class="speakers-modal" id="speakersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .talk  | markdownify }}</h2>
                {{ $url := printf "img/speakers/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                {{ if eq .modalID 5 }}
                {{ $url := printf "img/speakers/babatunde.jpg"  }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                {{ end }}
                <p>{{ .talkDescription | markdownify }}</p>
                <h3>About {{ .name  | markdownify }}</h3>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
    {{ end }}
{{ end }}

{{ "<!-- MCS Modals -->" | safeHTML }}
{{ range .Site.Data.mcs }}
<div class="mcs-modal" id="mcsModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/mcs/%s" .img }}
                <img class="img-responsive img-centered img-mc img-mc-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ "<!-- Trainers Modals -->" | safeHTML }}
{{ range .Site.Data.trainers }}
<div class="speakers-modal" id="trainersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .workshopTitle  | markdownify }}</h2>
                <h3>{{ .name  | markdownify }}</h3>
                <div>
                    {{ $url := printf "img/trainers/%s" .img }}
                    <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                    {{ if eq .modalID 1 }}
                        {{ $url := printf "img/trainers/alexey.png" }}
                        <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="Alexey Palazhchenko">
                    {{ end }}
                </div>
                <div class="workshop-details">
                    <h5>Level: {{ .workshopLevel }}</h5>
                    <h5>Duration: {{ .workshopDuration }}</h5>
                    {{ .workshopDescription | markdownify }}
                </div>
                <h4>About {{ .name | markdownify }}</h4>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ "<!-- Team Modals -->" | safeHTML }}
{{ range .Site.Data.team }}
<div class="speakers-modal" id="teamModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/team/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}
