{{ "<!-- Speakers Modals -->" | safeHTML }}
{{ range .Site.Data.speakers }}
<div class="speakers-modal" id="speakersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/speakers/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ "<!-- Trainers Modals -->" | safeHTML }}
{{ range .Site.Data.trainers }}
<div class="speakers-modal" id="trainersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/trainers/%s" .img }}
                <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <div class="workshop-details">
                {{ .workshopDescription | markdownify }}
                </div>
                <h4>About {{ .name | markdownify }}</h4>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ "<!-- Team Modals -->" | safeHTML }}
{{ range .Site.Data.team }}
<div class="speakers-modal" id="teamModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/team/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}
