{{ "<!-- Speakers Modals -->" | safeHTML }}
{{ range .Site.Data.speakers }}
    {{ if ne .img "" }}
<div class="speakers-modal" id="speakersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .talk  | markdownify }}</h2>
                {{ $url := printf "img/speakers/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                {{ if eq .modalID 5 }}
                {{ $url := printf "img/speakers/babatunde.jpg"  }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                {{ end }}
                <p>{{ .talkDescription | markdownify }}</p>
                <h3>About {{ .name  | markdownify }}</h3>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
    {{ end }}
{{ end }}

{{ "<!-- MCS Modals -->" | safeHTML }}
{{ range .Site.Data.mcs }}
<div class="mcs-modal" id="mcsModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/mcs/%s" .img }}
                <img class="img-responsive img-centered img-mc img-mc-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

{{ "<!-- Trainers Modals -->" | safeHTML }}
{{ range .Site.Data.trainers }}
<div class="speakers-modal" id="trainersModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .workshopTitle  | markdownify }}</h2>
                <h3>{{ .name  | markdownify }}</h3>
                <div>
                    {{ $url := printf "img/trainers/%s" .img }}
                    <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                    {{ if eq .modalID 1 }}
                        {{ $url := printf "img/trainers/alexey.png" }}
                        <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="Alexey Palazhchenko">
                    {{ end }}
                </div>
                <div class="workshop-details">
                    <h5>Level: {{ .workshopLevel }}</h5>
                    <h5>Duration: {{ .workshopDuration }}</h5>
                    {{ .workshopDescription | markdownify }}
                </div>
                <h4>About {{ .name | markdownify }}</h4>
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}

<div class="speakers-modal" id="workshopVenueModal1" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>Reykjavik University</h2>
                <div>
                    {{ $url := "img/venue/ru-preview.jpg" }}
                    <img class="img-responsive img-centered img-trainer img-trainer-modal" src="{{ $url | absURL }}" alt="Reykjavik University">
                </div>
                <div class="workshop-details">
                    <h5>Admission hours</h5>
                    You can arrive starting 08:00 AM. Admission will be at 8:45.<br>
                    Please don't be late so that you do not disturb the other workshop participants or the teachers. Thank you.
                    <br>
                    <br>
                    <h5>Location</h5>
                    Reykjavik University<br>
                    Menntavegur 1, IS-101, Reykjavík<br>
                    <a href="https://goo.gl/maps/6azm4H38WZH2">View on Google Maps</a>
                    <br>
                    <br>
                    <h5>Transportation</h5>
                    You can get to the University using the bus number 5 or by taxi.
                    <br>
                    <br>
                    <h5>Menu</h5>
                    Please note that the menu is not covered in the admission ticket.<br>
                    The price is around 1500 ISK, but may vary depending on your requirements.<br>
                    Vegetarian and vegan options are also available.<br>
                    <br>
                    Menu options:
                    <ul>
                        <li>Fried chicken in pepper sauce with baked potatoes and freshly baked bread</li>
                        <li>Chili Sin Carne with potatoes and pesto</li>
                        <li>Salad bar</li>
                        <li>Soup of the day: pumpkin soup with garlic and ginger</li>
                    </ul>
                    <br>
                    There will be a photographer during the first half of the day taking pictures.<br>
                    If you don't want your photo taken, please let him know when he enters the room.
                </div>
            </div>
        </div>
    </div>
</div>

{{ "<!-- Team Modals -->" | safeHTML }}
{{ range .Site.Data.team }}
<div class="speakers-modal" id="teamModal{{ .modalID }}" tabindex="-1">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <div class="modal-body">
                <h2>{{ .name  | markdownify }}</h2>
                {{ $url := printf "img/team/%s" .img }}
                <img class="img-responsive img-centered img-speaker img-speaker-modal" src="{{ $url | absURL }}" alt="{{ .name }}">
                <p>{{ .description | markdownify }}</p>
            </div>
        </div>
    </div>
</div>
{{ end }}
