{{ "<!-- Speakers Grid Section -->" | safeHTML }}
<section id="speakers" class="bg-light-gray">
    <div class="container speakers-container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ .Site.Params.speakers.title | markdownify }}</h2>
                <h3 class="section-subheading text-muted">{{ .Site.Params.speakers.subtitle | markdownify }}</h3>
            </div>
        </div>

        <div class="row schedule-day-row col-sm-6 day1">
            <div class="col-md-12 col-sm-4">
                <div class="speakers-caption">
                    <h2>{{ "Day 1" | markdownify }}</h2>
                </div>
            </div>
        {{ range sort .Site.Data.speakers ".modalID" }}
            <div class="col-md-12 col-sm-4 speakers-item modalID{{ .modalID }} {{ .break }}">
                {{ if ne .img "" }}
                <a data-featherlight="#speakersModal{{ .modalID }}" href="javascript:" class="speakers-link">
                {{ end }}
                    <div class="speakers-image-container">
                        {{ $url := printf "img/speakers/%s" .preview }}
                        <img src="{{ $url | absURL }}" class="img-responsive img-circle img-speaker-preview" alt="{{ .name }}">
                        {{ if eq .modalID 5 }}
                        {{ $url := printf "img/speakers/babatunde-preview.jpg"  }}
                        <img src="{{ $url | absURL }}" class="img-responsive img-circle img-speaker-preview" alt="Babatunde Ekemode">
                        {{ end }}
                    </div>
                {{ if ne .img "" }}
                </a>
                {{end}}
                <div class="speakers-caption">
                    {{ if ne .talk "" }}
                    <a data-featherlight="#speakersModal{{ .modalID }}" href="javascript:" class="speakers-link"><h4>{{ .talk | markdownify }}</h4></a>
                    {{ end }}
                    <h4>{{ .name | markdownify }}</h4>
                </div>
                {{ if ne .img "" }}
                <ul class="list-inline social-buttons">
                {{ range $network := .social}}
                    {{ range $network.handles }}
                        <li><a href="{{ . }}"><i class="fa {{ $network.type }}"></i></a></li>
                    {{ end }}
                {{ end }}
                </ul>
                {{ end }}
            </div>
            {{ if eq .modalID 8 }}
        </div>
        <div class="row schedule-day-row col-sm-6 day2">
            <div class="col-md-12 col-sm-4">
                <div class="speakers-caption">
                    <h2>{{ "Day 2" | markdownify }}</h2>
                </div>
            </div>
            {{ end }}
        {{ end }}
        </div>
    </div>
</section>
